.Title {
    text-align: center;
    font-family: Verdana;
}

.pages {
    text-decoration: underline;
    color: blue;
    float: left;
    width: 100px;
}

.footline {
    position: fixed;
  left: 0;
  bottom: 10;
  width: 100%;
  text-align: center;
}

.footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
 .pages:visited {
     color: firebrick;
 }

 .pages:hover {
     font-weight: bold;
 }

 .pages:active {
     text-decoration: none;
 }


