.Title {
    text-align: center;
    font-family: Verdana;
}

.pages {
    text-decoration: underline;
    color: black;
    float: left;
    width: 150px;
    text-align: center;
}

.home_page {
    color: black;
    float: left;
    width: 150px;
    text-align: center;

}

.home_page:visited {
    color: firebrick;

}

.home_page:hover {
    font-weight: bold;
}

.footline {
    position: relative;
  left: 0;
  bottom: 10;
  width: 100%;
  text-align: center;
}

.footer {
position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
 .pages:visited {
     color: firebrick;
 }

 .pages:hover {
     font-weight: bold;
 }

 .pages:active {
     text-decoration: none;
 }



